body {
  background: #f8f8f8;
}
.navbar-inverse {
  background: #000000;
  padding: 12px 0 5px 0;
  margin-bottom: 0;
}
.navbar-inverse img {
  max-height: 50px;
}
.navbar-inverse ul {
  margin-top: 5px;
}
.navbar-inverse ul.fen {
  background: #fb397d;
  border-radius: 4px;
  text-align: center;
}
.navbar-inverse ul.fen .ok {
  color: #FFFFFF;
  padding: 2px;
  cursor: pointer;
  line-height: 100%;
  margin: 10px 0;
}
.swiper-container img {
  width: 100%;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pp .po {
  border-bottom: 1px #d7d7d7 dotted;
  margin-top: 20px;
  padding-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.btn-black {
  margin-top: 10px;
  color: #fff;
  background-color: #444444;
  border-color: #444444;
}
.btn-pink {
  color: #fff;
  margin-top: 10px;
  background-color: #fc1264;
  border-color: #fc1264;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#footer {
  margin-top: 50px;
  width: auto;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  padding: 30px 0 30px 0;
  color: #a4a4a4;
  background: #363636;
}
#footer a {
  color: #868686;
  text-decoration: none;
}
#footer h2 {
  color: #007AFF;
}
#footer h3 {
  color: #2AABD2;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.copy-right {
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
}
